body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

input {
  padding: 0.1em;

}

.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0.5em 0;
  padding: 0;
  color: red;
  font-style: bold;
}

.header {
  background-color: #ff6600;
  white-space: nowrap;
  padding: 0.25rem;
  color: black;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 8fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 8fr;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .header{
    grid-template-columns: 6fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 8fr;
    
  }
} 
 @media only screen and (max-width: 620px) {
  .header{
    grid-template-columns: 6fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 8fr;
    font-size: 12px;
  }
} 
@media only screen and (max-width: 450px) {
  .header{
    font-size: 10px;
    grid-template-columns: 6fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 8fr;
    
  }
} 
.flexy{
  grid-column:9/-1;
  display:flex;
  justify-content: flex-end;
 position:relative;
}
.flexy1{
  display:flex;
  justify-content: flex-start;
  align-items: center;

}
.header-title {
  font-weight: 700;
  margin-left: 0.25rem;
  margin-right: 5px;
  color: black;
  text-decoration: none;
}
.header-login{

  
  color: black;
  text-decoration: none;
 
 order:1;
}

.header-link {
  margin-left: 0.2rem;
  color: black;
  text-decoration: none;
  text-align: center;
}

.header-button {
  
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header-name {
  color: var(--light-color);
  text-decoration: none;
  text-transform:uppercase;
  margin-right: auto;
  margin-left: auto;
}

.divider {
 text-align: center;
  color: black;
}

.link {
  
  color: #828282;
}

textarea {
  margin-top: 0.5em;
  width: 90%;
}

.delete-button {
  color: red;
  cursor: pointer;
}

.app-container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 500px) {
  .app-container{
  width:100%;
  }
}

.route-container {
  background-color: rgb(246, 246, 239);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vote-button {
  font-size: 11px;
  color: #828282;
  margin-left: 0.25rem;
}

.forgot-password {
  padding: 1em 0;
}

.logo {
  width: 20px;
  height: 18px;
  border: 1px solid white;
  margin: 0;
}

.comment-author {
  color: #828282;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  padding: 0.2rem;
  margin: 0.5rem 0;
  width: 100%;
  margin-bottom: 0.2em;
  max-width: 500px;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

/* .btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
} */
